html,body,.body{ height: 100%; }
body{background-color: #eeeeee;}
.body{background-color: #eeeeee;}

.topTitle{ position: relative;  z-index: 999;}
.topTitle .titleMsg{ position: fixed; left: 0;right: 0;top: 0;background-color: #2EC399; }
.topTitle .titleMsg,
.topTitle .topTitleHeight{ height: .8rem; line-height: .8rem;text-align: center; color: #fff; font-size: .34rem; }

.topClick { border-bottom:1px solid #e5e5e5;background-color: #fff; }
.topClick .paddmarg{margin-top: .3rem; padding:.1rem .2rem; background:url(../images/rig.png) no-repeat right .2rem center; background-size: .14rem; }
.topClick .paddmarg .span1{ margin-right: .1rem; display: inline-block; width: .4rem;height: .32rem;  text-align: center; line-height: .32rem; border:1px solid; color: #ff5400; font-size: .24rem; }
.topClick .paddmarg .span2{  font-size: .34rem; color: #464646; }


/*我的订单*/
.shopList{background-color: #fff; margin-top: .2rem; display:flex; flex-direction: column; height: }
.leftContnt{width: 100%;display:flex; padding:.2rem 0; }
.leftContnt .left{width: 1.6rem; height: 1.4rem; margin-left: 1em;}
.leftContnt .right{margin-left: .2rem; display: flex; flex-direction: column; justify-content: space-around;}
.leftContnt .right .p1{ font-size:.38rem; color: #333;  }
.leftContnt .right .p2{ font-size:.34rem; color: #434343;  }
.rightBtn{ text-align: center; color: #fff; background-color: #F46E2A; display: flex; flex-direction: column; justify-content: center; height: 1rem; font-size: .36rem; margin-top: .3rem; position: fixed; bottom: 0;left: 0;right:0}
.rightBtn p:nth-child(2){font-weight: bold;}
.rightContnt{ font-size:.3rem;padding-top: .2rem; text-align: left; margin-left: .3rem; }
.shopList.is2{margin-top: .3rem;}
.shopList.is2 .rightBtn{background-color: #71C671}

.radios{ display: flex; align-items: center; justify-content: center; margin-left: .2rem; }
#wwcdd .shopList{ flex-direction:row;  }
.yyhPrice{ font-size:.24rem; }

/*我的账户*/
.tabx2_parent{font-size: .32rem; color: #333; display: flex;border: 2px solid #FF6262; height: .58rem; line-height: .58rem;width: 70%; margin:0 auto; position: relative; margin-top: .28rem; border-radius: 1rem; overflow: hidden;}
.tabx2_parent .tabx2_child{width: 100%; text-align: center;}
.tabx2_parent .cur{background-color: #FF6262; color: #fff;}

.jf_title{ line-height: 1rem; text-indent: .3rem; font-size: .36rem; }
.jf_listBox ul li{ background-color: #fff;padding: .2rem 0; border-bottom:1px solid #dedede;}
.jf_listBox ul li:last-child{border-bottom:0;}
.jf_listBox ul li .tx1 .t1{font-size: .3rem; color: #333;}
.jf_listBox ul li .tx1 .t2{font-size: .28rem; color: #888;margin-top: .05rem;}
.jf_listBox ul li .tx1{min-width: 5rem;width: 5rem; padding-left: .3rem;}
.jf_listBox ul li .tx2,
.jf_listBox ul li .tx3{width: 100%;}
.jf_listBox ul li .tx2{text-align: center;}
.jf_listBox ul li .tx2 .t1{ color: #FF601F; font-size: .28rem; width: 100%;}
.jf_listBox ul li .tx3 .t1{ color: #5AA0E2; border:1px solid; font-size: .28rem; border-radius: .08rem; padding:.05rem .1rem; margin: 0 auto;}

.dh_listBox ul li{background-color: #fff;border-bottom:1px solid #dedede; }
.dh_listBox ul li:last-child{border-bottom:0;}
.dh_listBox ul li .tx1 .t1{height: 100%;}
.dh_listBox ul li .tx1 .t1 img{ min-width: 2.3rem;width: 2.3rem;height: 1.8rem;background-color: #ccc; }
.dh_listBox ul li .tx1{min-width: 2.3rem;}
.dh_listBox ul li .tx2{width: 100%; margin-left: .2rem;}
.dh_listBox ul li .tx2 .t1{ margin-top:0rem; color: #333; font-size: .32rem;display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis; width: 4.8rem; }
/*.dh_listBox ul li .tx2 .t2{margin-top: .5rem;}*/
.dh_listBox ul li .tx2 .t2 .lf{ color: #888; text-decoration: line-through;width: 50%; font-size: .28rem;padding:.05rem 0; }
.dh_listBox ul li .tx2 .t2 .rt{color: red;font-size: .28rem; width: 50%;  text-align: left;padding:.05rem 0;}
.dh_listBox ul li .tx2 .t2 .btn{ color: #5AA0E2; border:1px solid; font-size: .3rem; border-radius: .08rem; padding:.05rem .2rem; margin-right: .2rem;}
.dh_listBox ul li .tx2 .t2 .btn a{color: #5AA0E2;}
/*tabx2_Content为有效优惠券css  .tabx2_Content.invalid为失效*/
.tabx2_Content{height: 2.21rem;background:url(../images/youhuijuan.png)  no-repeat left top; background-size: 100%; width: 6.56rem; margin: .34rem auto 0; overflow: hidden; transition: .3s;border-bottom: 1px solid #ccc; border-radius:0 0 .2rem .2rem; position: relative;}
.tabx2_Content .thisIsQuan{display: flex; height: 1.42rem;}
.tabx2_Content .thisIsQuan .lf{width: 100%; height: 100%; display: flex; flex-direction: column; flex-wrap: wrap; justify-content: center; align-items: center; color:#333;}
.tabx2_Content .thisIsQuan .lf p{width: 100%;margin-left: .5rem;}
.tabx2_Content .thisIsQuan .lf .p1{ font-size: .3rem;}
.erweima{ display: inline-block; width: auto; background: url(../images/ewm.png) no-repeat right; background-size: 100%; height: .4rem; width: .4rem; margin-bottom: -.05rem;margin-left: .1rem;}
.tabx2_Content .thisIsQuan .lf .p2{ font-size: .24rem;margin-top: .1rem;}
.tabx2_Content .thisIsQuan .rt{min-width: 2.1rem; text-align: center;color: #fffde2; display: flex;  flex-wrap: wrap; justify-content: center; align-items: center; flex-direction: column;}
.tabx2_Content .thisIsQuan .rt .p1{font-size: .44rem; }
.tabx2_Content .thisIsQuan .rt .p2{font-size: .22rem; }

.thisIsMore{font-size: .3rem; color: #333; line-height: .8rem;height: .8rem; border-bottom: 1px solid #ccc; text-indent: .22rem; background:url(../images/ismore.png) no-repeat center right .2rem; background-size: .25rem;}
.thisIsContent{font-size: .3rem; color: #5f5e5d; line-height: .46rem;padding: .2rem;background-color: #fff;}
.tabx2_Content.invalid{ background: url(../images/invalid.png) no-repeat;background-size: 100%; height: 2.21rem; }
.inva{ width: 1.97rem; position: absolute; right: 1.2rem; top: .2rem;}