body,html{background: #f1f1f1!important;}
.top-box{background: #fff!important;}
.top-box .top-detail {
    text-align: center;
    padding: .4rem 0;
    font-size: 18px;
    color: #434343!important;
}
.main-box {
    /* overflow: hidden; */
    margin: 0 auto;
    margin-top: 1.67rem;
    width: 6.92rem;
    height: 4.375rem;
    background: url("../images/bjg.png") center no-repeat;
    position: relative;
    background-size: 99%;
}
.success-cs {
    padding: 0;
    margin: 0 auto;
    width: 9.9rem;
    height: 6.03rem;
    background: url("../images/cs.png") center no-repeat;
    background-size: 99%;
}
.success-autor {
    top: 0.3rem!important;
}
.success-score {
    left: 2rem!important;
}
.success-time {
    right: 2rem!important;
}
.main-box .autor {
    width: 100%;
    position: absolute;
    top: -1.5rem;
}
.main-box .autor .autor-img {
    margin: 0 auto;
}
.main-box .autor .autor-img span {
    display: block;
    line-height: .84375rem;
    font-size: 16px;
    color: #707070;
    text-align: center;
    margin: 0 auto;
}
.main-box .autor .autor-icon{
    width: 1.28rem;
    height: 1.28rem;
    border-radius: 50%;
    background: #fff;
    margin: 0 auto;
    overflow: hidden;
}
.main-box .autor .autor-img img {
    display: block;
    width: 1.28rem;
    /*height: 1.28rem;*/
    object-fit: contain;
    vertical-align: bottom;
    margin: 0 auto;
}
.main-box .score {
    color: #fff;
    font-size: 30px;
    position: absolute;
    left: 0.5rem;
    bottom: .5rem;
    z-index: 2;
}
.main-box .time {
    color: #E1E0DF;
    font-size: 18px;
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    z-index: 2;
}
.no-pass {
    width: 5.47rem;
    height: 1.56rem;
    border: 3px solid #DC8787;
    font-size: 36px;
    font-weight: 700;
    color: #DC8787;
    text-align: center;
    line-height: 1.56rem;
    transform: rotate(20deg);
    position: absolute;
    bottom: -1rem;
    right: -1rem;
    z-index: 3;
}
.main-text {
    text-align: center;
    font-size: 34px;
    margin-top: 0.6rem;
}
.result-box{
    width: 7.03rem;
    height: 3.51rem;
    margin: 0 auto;
    margin-top: 1.3rem;
    background: url("../images/sjbg.png") no-repeat center;
    position: relative;
    background-size: 99%;
    /*display: flex;*/
    /*display: -webkit-flex;*/
}
.result-box .result-img img{
    width: 1.78rem;
    height: 1.78rem;
    vertical-align: middle;
    position: absolute;
    left:.5rem;
    top:.52rem;
    /*margin: auto;*/
    /*flex: 1;*/
}
.result-box .result-text{
    font-size: 26px;
    color: #6F6C67;
    line-height: .89rem;
    position: absolute;
    right:.5rem;
    top:0.52rem;
    /*flex: 2;*/
}
.xz-btn{
    width: 60%;
    margin: 0 auto;
    background: linear-gradient(#26C082 0%,#1AB66D 50%,#10AE5A 100%);
    background: -webkit-linear-gradient(#26C082 0%,#1AB66D 50%,#10AE5A 100%);
    background: -moz-linear-gradient(#26C082 0%,#1AB66D 50%,#10AE5A 100%);
    background: -o-linear-gradient(#26C082 0%,#1AB66D 50%,#10AE5A 100%);
    color: #fff;
    font-size: 22px;
    text-align: center;
    line-height: 1.5625rem;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    margin-top: .5rem;
}
.xz-btn a{
    color: #fff;
}
.xz-btn a:hover{
    text-decoration: none;
}