a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block}
body {line-height: 1;background: #F1F1F1}
ol, ul {list-style: none}
body,p,ul{margin:0;}
body{
    font:12px Arial,"Mircosoft yahei";
    color: #434343;
}
i{font-style:normal}
ol,dl,dd,h1,h2,h3,h4,h5,h6{margin:0;}
ul,ol,li{padding-left:0;list-style:none;}
input{padding:0;}
img{border:0;}
a{
    text-decoration:none;
}
a:hover{
    text-decoration: none;
}
html,body{
    height: 100%;
}
body{
    min-height: 100%;
}
a,input{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/*长按复制*/
*{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}
/*头部导航栏*/
#fix-both,#fix-both1{
    overflow: hidden;
    padding: .26rem 0;
    background: linear-gradient(#26B492 0%,#2EC198 50%,#34CC9D 100%);
    background: -webkit-linear-gradient(#26B492 0%,#2EC198 50%,#34CC9D 100%);
    background: -moz-linear-gradient(#26B492 0%,#2EC198 50%,#34CC9D 100%);
    background: -o-linear-gradient(#26B492 0%,#2EC198 50%,#34CC9D 100%);
    font-size: 16px;
}
#fix-both1{
    background: #fff;
 }
.ui-navigator-fixleft{
    /*display: inline-block;
    float: left;
    padding: 0 0.34rem;*/
}
.ui-navigator-list{/* width:400px*/}
.ui-navigator-fixleft img{
    /*width:0.78rem;*/
}
#fix-both a,#fix-both1 a{
    color: #127156;
    text-align: center;
}
#fix-both a:hover,#fix-both1 a:hover{
    text-decoration: none;
}
#fix-both ul,#fix-both1 ul{ overflow: hidden}
#fix-both ul li,#fix-both1 .ui-navigator-wrapper ul li{
   /* float: left;
    line-height:.78rem;
    /!*width:17%;*!/
   /!* flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -o-flex:1;*!/
    text-align: center;*/
}
#fix-both1 ul li a{
    padding:.15rem;
    color: #434343;
    font-size: 14px;
}
#fix-both ul li a.cur{
    text-decoration: none;
    color: #1EA68C;
    text-shadow:1px 3px 0 #29AC86;
}
#fix-both1 ul li .cur{
    color: #1EA68C!important;
}
/*list开始*/
.list-box .lists-box{
    overflow: hidden;
    margin-bottom: 0.3rem;
}
.list-box .lists-box .lists{
    float: left;
    width: 25%;
    background: linear-gradient(#FFFFFF 0%,#F9F9F9 50%,#F6F6F6 100%);
    background: -webkit-linear-gradient(#FFFFFF 0%,#F9F9F9 50%,#F6F6F6 100%);
    background: -moz-linear-gradient(#FFFFFF 0%,#F9F9F9 50%,#F6F6F6 100%);
    background: -o-linear-gradient(#FFFFFF 0%,#F9F9F9 50%,#F6F6F6 100%);
    box-shadow: 2px 2px 10px #B7B7B7;
}
.list-box .lists-box .lists a:hover{
    text-decoration: none;
}
.list-box .lists-box .lists:nth-child(4){
    border: 0;
}
.list-box .lists-box .lists span{
    display: block;
    padding-top: 0.4rem;
    text-align: center;
    font-size: 16px;
    color: #434343;
}
.list-box .lists-box .lists img{
    display: block;
    padding: 0.6rem;
    width: 0.78125rem;
    height: 0.78125rem;
    text-align: center;
    margin: 0 auto;
}
/*底部开始*/
.bottom-box{
    width: 100%;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    font-size: 16px;
    color: #454545;
    background: #fff;
}
.bottom-box .bottom-lists{
    width: 33.3333%;
    float: left;
    background: linear-gradient(#FFFFFF 0%,#F9F9F9 50%,#F5F5F5 100%);
    background: -webkit-linear-gradient(#FFFFFF 0%,#F9F9F9 50%,#F5F5F5 100%);
    background: -moz-linear-gradient(#FFFFFF 0%,#F9F9F9 50%,#F5F5F5 100%);
    background: -o-linear-gradient(#FFFFFF 0%,#F9F9F9 50%,#F5F5F5 100%);
}
.bottom-box .bottom-lists a{
    display: block;
}
.bottom-box .bottom-lists a span{
    margin-top: 0.15rem;
    display: block;
    text-align: center;
    color: #434343;
}
.bottom-box .bottom-lists a{
    text-decoration: none;
}
.bottom-box .bottom-lists img{
    padding-top: .3rem;
    width: 0.78125rem;
    height: 0.78125rem;
    display: block;
    margin: 0 auto;
}
.bottom-box .bottom-lists .cur{
    color: #17AA78;
}
/*top开始*/
body{background: #fff!important;}
.top-box {
    background: linear-gradient(#20AA8E 0%,#28B793 50%,#34CC9C 100%);
    background: -webkit-linear-gradient(#20AA8E 0%,#28B793 50%,#34CC9C 100%);
    background: -moz-linear-gradient(#20AA8E 0%,#28B793 50%,#34CC9C 100%);
    background: -o-linear-gradient(#20AA8E 0%,#28B793 50%,#34CC9C 100%);
}
.top-box .top-detail {
    color: #fff;
    text-align: center;
    padding: .3rem 0;
}
.top-box .top-detail img {
    display: block;
    width: .3125rem;
    height: .5625rem;
    float: left;
    padding-left: .4375rem;
    vertical-align: bottom;
}
.top-box .top-detail span {
    line-height: .5625rem;
}
.top-box span {
    font-size: 18px;
}
/*css3开关*/
.check-box{
    float: right;
    padding: .25rem 0;
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label {
    cursor: pointer;
    font-size: 1em;
}
[id^="checkbox-10-"] + label {
    background-color: #fafbfa;
    padding: 9px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    display: inline-block;
    position: relative;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    width: 40px;
    height: 15px;
}
[id^="checkbox-10-"] + label:before {
    content: ' ';
    position: absolute;
    background: white;
    top: 1px;
    left: 1px;
    z-index:100;
    width: 31px;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    height: 31px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -o-border-radius:50%;
    box-shadow: 0 3px 1px rgba(0,0,0,0.05), 0 0px 1px rgba(0,0,0,0.3);
}
[id^="checkbox-10-"] + label:after {
    content: ' ';
    position: absolute;
    top: 0;
    -webkit-transition: box-shadow 0.1s ease-in;
    transition: box-shadow 0.1s ease-in;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    box-shadow: inset 0 0 0 0 #eee, 0 0 1px rgba(0,0,0,0.4);
}
[id^="checkbox-10-"]:checked + label:after {
    content: ' ';
    font-size: 1.5em;
    position: absolute;
    background: #4CD964;
    box-shadow: 0 0 1px #4CD964;
}
[id^="checkbox-10-"]:checked + label:before {
    content: ' ';
    position: absolute;
    left: 26px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
}
/*去除Loading*/
.ui-loader-default{ display:none}
.ui-mobile-viewport{ border:none;}
.ui-page {padding: 0; margin: 0; outline: 0}
/*遮罩*/
.mask-box{
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 100;
    display: none;
}
/*alert*/
.alert-box{
    display: none;
}
.topic-alert{
    display: none;
}
.alert-box,.topic-alert{
    height: 3.3rem;
    border: 1px solid #C6C6C6;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right:0;
    margin: auto;
    width: 80%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    padding: .3rem 0;
    background: linear-gradient(#FFFFFF 0%,#FAFAFA 50%,#F4F4F4 100%);
    background: -webkit-linear-gradient(#FFFFFF 0%,#FAFAFA 50%,#F4F4F4 100%);
    background: -moz-linear-gradient(#FFFFFF 0%,#FAFAFA 50%,#F4F4F4 100%);
    background: -o-linear-gradient(#FFFFFF 0%,#FAFAFA 50%,#F4F4F4 100%);
    z-index: 2000;
}
.topic-alert .topic-top{
    text-align: center;
    font-size: 16px;
}
.alert-box .alert-detail,.topic-alert .alert-detail{
    font-size: 16px;
    color: #434343;
    text-align: center;
    margin: 1rem 0;
}
.topic-alert .alert-detail{
    margin: .7rem 0!important;
}
.alert-box .alert-btns,.topic-alert .alert-btns{
    overflow: hidden;
    width: 75%;
    margin: 0 auto;
    padding-bottom: .3rem;
}
.alert-box .alert-btn1,.topic-alert .alert-btn1{
    width: 45%;
    display: inline-block;
}
.alert-box .alert-btn1 .qx-btn,.topic-alert .alert-btn1 .qx-btn{
    background:linear-gradient(#FFFFFF 0%,#FAFAFA 50%,#F4F4F4 100%);
    background:-webkit-linear-gradient(#FFFFFF 0%,#FAFAFA 50%,#F4F4F4 100%);
    background:-moz-linear-gradient(#FFFFFF 0%,#FAFAFA 50%,#F4F4F4 100%);
    background:-o-linear-gradient(#FFFFFF 0%,#FAFAFA 50%,#F4F4F4 100%);
    color: #434343;
}
.alert-box .alert-btn1 .qd-btn{
    background: #D90008;
    border: 1px solid #D90008;
}
.alert-box .alert-btn1 a,.topic-alert .alert-btn1 a{
    margin: 0 auto;
    display: block;
    width: 2.34rem;
    height: .78rem;
    text-align: center;
    line-height: .78rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid #7B7B7B;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(#26C081 0%,#1EB872 50%,#11AD5B 100%);
    background: -webkit-linear-gradient(#26C081 0%,#1EB872 50%,#11AD5B 100%);
    background: -moz-linear-gradient(#26C081 0%,#1EB872 50%,#11AD5B 100%);
    background: -o-linear-gradient(#26C081 0%,#1EB872 50%,#11AD5B 100%);
}
.alert-box .alert-btn1 a:hover,.topic-alert .alert-btn1 a:hover{
    text-decoration: none;
}
.mask-hide{
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.5);
    position: absolute;
    top:0;
    left: 0;
    bottom:0;
    right:0;
    display: none;
}